<section class="w-auto gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-0">
  
                <h4 class="fw-bold  mb-4 text-uppercase text-white">Registro</h4>
                <p class="lead  mb-4 text-white">Por favor introduce tus datos : </p>

                <form [formGroup] = "userForm" (ngSubmit)="agregarUsuario(userForm.value)">
                  <div class="alert alert-danger" role="alert" *ngIf="isError">
                    {{isErrorMsg}}
                  </div>
                <div class="form-floating mb-4">
                  <input type="text" id="Nombre" class="form-control" placeholder="Juan" formControlName="nombre" />
                  <label class="form-label" for="Nombre">Nombre</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="text" id="Ape_P" class="form-control" placeholder="Juan" formControlName="primerApellido" />
                    <label class="form-label" for="Ape_P">Apellido Paterno</label>
                  </div>

                  <div class="form-floating mb-4">
                    <input type="text" id="Ape_M" class="form-control" placeholder="Juan" formControlName="segundoApellido" />
                    <label class="form-label" for="Ape_M">Apellido Materno</label>
                  </div>

                <div class="form-floating mb-4">
                    <input type="email" id="Correo" class="form-control" placeholder="name@example.com" formControlName="email" />
                    <label class="form-label" for="Correo">Correo electrónico</label>
                  </div>
  
                <div class="form-floating mb-5">
                  <input type="password" id="Pwd" class="form-control" placeholder="Password" formControlName="contraseña"/>
                  <label class="form-label" for="Pwd">Contraseña</label>
                </div>
  
  
                <button class="btn btn-outline-light btn-lg px-5"  type="submit">Registrarse</button>
              </form>
              </div>

            
             
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>