<section class="bg">
  <div class="container py-5 h-25">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-0">

              <h4 class="fw-bold  mb-4 text-uppercase text-white">Inicia sesión </h4>
              <p class="lead mb-4 text-white">Por favor introduce tus credenciales : </p>

              <form [formGroup] = "loginForm" (ngSubmit)="onLogin(loginForm.value)">
              <div class="form-floating mb-4">
                <input type="email" id="Correo" class="form-control" placeholder="name@example.com" formControlName="email"/>
                <label class="form-label" for="Correo">Correo electrónico</label>
              </div>

              <div class="form-floating mb-4">
                <input type="password" id="Pwd" class="form-control" placeholder="Password" formControlName="contraseña"/>
                <label class="form-label" for="Pwd">Contraseña</label>
              </div>

              <p class=" mb-3 pb-lg-2"><a class="text-50 text-white" href="#!">¿Olvidaste tu contraseña?</a></p>

              <button  class="btn btn-outline-light btn-lg  px-5"  type="submit">Iniciar sesión</button>
              </form>
            </div>

            <div>
              <button (click)="login()" class="btn btn-outline-dark  btn-block mb-4"  style="background-color: #f7f7f7;" type="submit"> <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" width="30" />  Inicia sesion con Google</button>
              
            </div>

            <div >
              <p   class=" mb-0 text-white">¿No tienes una cuenta? <a routerLink="/usuario"  class="text-white-50 fw-bold">Regístrate</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
