
  .btn-outline-light {
    
    background-color: #c9993c !important;
    border-color: #c9993c;
    color: white;
    
}

.btn-outline-light:hover{
    
    background-color: #a36b00 !important;
    border-color: #a36b00;
    color: white;
}

.card{
    background-color: #2596be;
}

.btn-outline-dark{
    border-color: white;
}

.btn-outline-dark:hover{
    background-color: #385898  !important;
    border-color: #385898;
}
